body {
    background-color: #82e3a4;
    font-family: "GothamMediumItalic", sans-serif;

}

.website_title {
    display: inline-block;
    padding: 10px;
    border: 3px solid #1DB954;
    position: relative;

    top: 50%;
    left: 50%;

    transform: translate(-50%);
    color: #1DB954
}

  