<!DOCTYPE html>
<html>
<head>
    <title>Spotify Playlist Filter</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head> 
<body>
    <div class="box">
        <h1 class="website_title"> Spotify Playlist Filter</h1>
    </div> 

    <form class="prompt" method="POST" action="{{ url_for('retrieve_filter') }}">

        <label for="dropdown">Select a playlist to filter:</label>
        <select class="selection" id="dropdown" name="selected_playlist">
            {% for item in dropdown_items %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>           
                
        <br>
            <label for="text_input">Enter a genre to filter by:</label>
            <input class="selection" type="text" id="text_input" name="selected_genre" required autocomplete="off">
        <br>

        <input class="submit_button" type="submit" name="select_button" value="Generate a playlist!" onclick="functionName()">
        
    </form> 

    <script>
        var test = '{{ data }}';
        console.log(test);
    </script>
</body>  
</html>          
